
body {
    background-color: #FF9CCE;
    color: #56002F;
    font-size: 20px;
}

.header-2{
    color: #AF005F;
    text-align: center;
}
.header-1 {
    color: #AF005F;
    text-align: center;
}
.post-1{
text-align: right;
text-decoration: underline;
}