
body {
    background-color: #FF9CCE;
    color: #56002F;
    font-size: 20px;
}

.headers {
    color: #AF005F;
    text-align: center;
}

.post-1 {
    text-align: right;
    text-decoration: underline;
}
.para-1{
    text-align: justify;
}